<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=He, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Digital Residence Permit - Issue and Verify - Issue Step 3: QR code</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <link rel="icon" href="/assets/app/logo.svg" type="image/svg+xml">
</head>

<body>
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a href="/" class="navbar-brand mb-0 h1 " title="Digital Residence Permit">DRP</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/">Home</a>
          <a class="nav-link" href="/issue">Issue</a>
          <a class="nav-link" href="/verify">Verify</a>
          <a class="nav-link" href="https://github.com/skounis/eu-dcc-biometrics/discussions/1" target="_blank">Help</a>
        </div>
      </div>
      <span class="navbar-text">
        Issue - Step 3: QR Code.
      </span>
    </div>
  </nav>

  <div class="container mt-5">
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <label for="payload" class="form-label">Digital Residence Permit Card:</label>
          <img src="<%= qr %>" class="form-control">
        </div>
        <a class="btn btn-primary" download="id-qrcode" href="<%= qr %>">Download QR Code</a>
      </div>

      <div class="col-6">
        <div class="mb-3">
          <label for="payload" class="form-label">Details:</label>
          <textarea cols="100" rows="10" class="form-control"><%= data %></textarea>
        </div>
        <div class="mb-3">
          <label for="certificate" class="form-label">Certificate:</label>
          <textarea cols="100" rows="10" class="form-control"><%= cert %></textarea>
        </div>
      </div>
    </div>

  </div>

  <hr class="mt-5">

  <div class="px-4 py-3 my-3 text-center">
    <div class="col-lg-6 mx-auto">
      <p><small><a href="http://skounis.github.io/">Stavros Kounis</a> - <a
            href="http://github.com/skounis/eu-dcc-biometrics">skounis/eu-dcc-biometrics</a> - <a
            href="https://github.com/skounis/eu-dcc-biometrics/blob/main/LICENSE.txt">EUPL-1.2 license</a></small></p>
      <p><small>2022, Ixelles</p>
    </div>
  </div>

</body>

</html>